@media only screen and (min-width: 1600px) and (max-width: 2000px){
    footer{
        background: black;
      }
    
      .img-fim{
        width: 10%;
        height: auto;
        display: block;
        margin-top: 5%;
      }
    
      .p-footer{
        text-align: center;
        font-size: 1.5rem;
        opacity: 0.7;
        margin-top: 5%;
        margin-bottom: 5%;
        color: white;
      }
    
}

@media only screen and (min-width: 1200px) and (max-width: 1450px){
  footer{
    background: black;
  }

  .img-fim{
    width: 8%;
    height: auto;
    display: block;
    margin-top: 5%;
  }

  .p-footer{
    text-align: center;
    font-size: 1rem;
    opacity: 0.7;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
  }

}