@media only screen and (min-width: 1600px) and (max-width: 2000px){
    footer{
        background: black;
      }
    
      .img-fim{
        width: 10%;
        height: auto;
        display: block;
        margin-top: 5%;
      }
    
      .p-footer{
        text-align: center;
        font-size: 1.5rem;
        opacity: 0.7;
        margin-top: 5%;
        margin-bottom: 2%;
        color: white;
      }

      .p-footer-2{
        text-align: center;
        font-size: 1.5rem;
        opacity: 0.7;
        margin-top: 0%;
        margin-bottom: 5%;
        color: white;
      }

      .imgs-fim{
        display: block;
        margin-left: 46.5%;
        margin-top: 5%;
      }
    
      .link-img-fim{
        width: 5%;
        margin-left: 1%;
      }
    
}

@media only screen and (min-width: 1200px) and (max-width: 1450px){
  footer{
    background: black;
  }

  .img-fim{
    width: 8%;
    height: auto;
    display: block;
    margin-top: 5%;
  }

  .p-footer{
    text-align: center;
    font-size: 1rem;
    opacity: 0.7;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
  }

  .p-footer-2{
    text-align: center;
    font-size: 1.5rem;
    opacity: 0.7;
    margin-top: 0%;
    margin-bottom: 5%;
    color: white;
  }

  .imgs-fim{
    display: block;
    margin-left: 46.5%;
    margin-top: 5%;
  }

  .link-img-fim{
    width: 5%;
    margin-left: 1%;
  }


}

@media only screen and (min-width: 291px) and (max-width: 1199px){
  footer{
    background: black;
  }

  .img-fim{
    width: 6%;
    height: auto;
    display: block;
    margin-top: 5%;
  }

  .p-footer{
    text-align: center;
    font-size: 0.7rem;
    opacity: 0.7;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;

  }
  .p-footer-2{
    text-align: center;
    font-size: 1.5rem;
    opacity: 0.7;
    margin-top: 0%;
    margin-bottom: 5%;
    color: white;
  }

  .imgs-fim{
    display: block;
    margin-left: 46.5%;
    margin-top: 5%;
  }

  .link-img-fim{
    width: 5%;
    margin-left: 1%;
  }

}
