@media only screen and (min-width: 1600px) and (max-width: 2000px){
    .nav-bar {
        background: #eae8e7;
        height: 25vh;
        margin-top: 0;
        z-index: 10;
        position: relative;
        width: 100%;
      }
      
      .img-nav-bar {
        height: 20vh;
        display: block;
      }
    
      
      .links-nav-bar {
        display: flex;
        margin-left: 33%;
        margin-top: -2%;
        letter-spacing: 1px;
      }
      
      .link-1, .link-2, .link-3, .link-4, .link-5, .link-6 {
        color: #213a5c; /* Cor do texto */
        font-size: 1rem;
        margin: 2%;
        text-align: center;
        margin-top: 2.5%;
        text-decoration: none; /* Remover sublinhado */
        font-weight: bold; /* Negrito */
      }
}

@media only screen and (min-width: 1200px) and (max-width: 1450px){
    .nav-bar {
        background: #eae8e7;
        height: 25vh;
        margin-top: 0;
        z-index: 10;
        position: relative;
        width: 100%;
      }
      
      .img-nav-bar {
        height: 20vh;
        display: block;
      }
    
      
      .links-nav-bar {
        display: flex;
        margin-left: 33%;
        margin-top: -2%;
        letter-spacing: 1px;
      }
      
      .link-1, .link-2, .link-3, .link-4, .link-5, .link-6 {
        color: #213a5c; /* Cor do texto */
        font-size: 0.6rem;
        margin: 2%;
        text-align: center;
        margin-top: 2.5%;
        text-decoration: none; /* Remover sublinhado */
        font-weight: bold; /* Negrito */
      }
}

@media only screen and (min-width: 991px) and (max-width: 1199px){
  .nav-bar {
    background: #eae8e7;
    height: 27vh;
    margin-top: 0;
    z-index: 10;
    position: relative;
    width: 100%;
  }
  
  .img-nav-bar {
    height: 20vh;
    display: block;
  }

  
  .links-nav-bar {
    display: flex;
    margin-left: 31%;
    margin-top: -2%;
    letter-spacing: 1px;
  }
  
  .link-1, .link-2, .link-3, .link-4, .link-5, .link-6 {
    color: #213a5c; /* Cor do texto */
    font-size: 0.6rem;
    margin: 2%;
    text-align: center;
    margin-top: 2.5%;
    text-decoration: none; /* Remover sublinhado */
    font-weight: bold; /* Negrito */
  }
}