@media only screen and (max-width: 400px){

    .nav-bar {
        background: #eae8e7;
        height: 10vh;
        margin-top: 0;
        z-index: 10;
        position: relative;
        width: 100%;
      }
      
      .img-nav-bar {
        height: 10vh;
        display: block;
        margin-left: 70%;
      }

      .img-icon-bar{
        width: 16px;
    }
      
      .links-nav-bar {
        display: block;
        display: none;
        width: 50%;
        align-items: center;
        justify-content: center;
        margin-left: 25%;
        letter-spacing: 1.2px;
      }
      
      .link-1, .link-2, .link-3, .link-4, .link-5, .link-6 {
        color: #213a5c; /* Cor do texto */
        font-size: 0.6rem;
        width: 100%;
        display: block;
        text-align: center;
        padding: -5px;
        margin-top: 2.5%;
        text-decoration: none; /* Remover sublinhado */
        font-weight: bold; /* Negrito */
      }
      
      /* Estilos do menu dropdown para telas menores */
      .dropdown-menu {
        position: absolute;
        display: inline-block;
        margin-left: 5%;
        margin-top: -13%;
      }
      
      .dropdown-toggle {
        background-color: #eae8e7;
        color: #213a5c;
        font-size: 0.6rem;
        border: none;
        cursor: pointer;
        padding: -5px;
        margin-top: 2.5%;
        text-decoration: none;
        border-radius: 10px;
        font-weight: bold;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        border-radius: 10px;
        background-color: #f9f9f9;
        min-width: 100px;
        text-align: left;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: #213a5c;
        text-decoration: none;
        text-align: left;
      }
      
      .dropdown-content a:hover {
        background-color: #f1f1f1;
        border-radius: 10px;
      }
      
      .show {
        display: block;
      }

}

@media only screen and (min-width: 401px) and (max-width: 550px){

    .nav-bar {
        background: #eae8e7;
        height: 10vh;
        margin-top: 0;
        z-index: 10;
        position: relative;
        width: 100%;
      }
      
.img-icon-bar{
    width: 5vh;
    margin-top: -1vh;
}

      .img-nav-bar {
        height: 10vh;
        display: block;
        margin-left: 70%;
      }
      
      .links-nav-bar {
        display: block;
        display: none;
        width: 50%;
        align-items: center;
        justify-content: center;
        margin-left: 25%;
        letter-spacing: 1.2px;
      }
      
      .link-1, .link-2, .link-3, .link-4, .link-5, .link-6 {
        color: #213a5c; /* Cor do texto */
        font-size: 0.8rem;
        width: 100%;
        display: block;
        text-align: center;
        padding: -5px;
        margin-top: 2.5%;
        text-decoration: none; /* Remover sublinhado */
        font-weight: bold; /* Negrito */
      }
      
      /* Estilos do menu dropdown para telas menores */
      .dropdown-menu {
        position: absolute;
        display: inline-block;
        margin-left: 5%;
        margin-top: -13%;
      }
      
      .dropdown-toggle {
        background-color: #eae8e7;
        color: #213a5c;
        font-size: 0.6rem;
        border: none;
        cursor: pointer;
        padding: -5px;
        margin-top: 2.5%;
        text-decoration: none;
        border-radius: 10px;
        font-weight: bold;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        border-radius: 10px;
        background-color: #f9f9f9;
        min-width: 140px;
        text-align: left;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: #213a5c;
        text-decoration: none;
        text-align: left;
      }
      
      .dropdown-content a:hover {
        background-color: #f1f1f1;
        border-radius: 10px;
      }
      
      .show {
        display: block;
      }


}

@media only screen and (min-width: 551px) and (max-width: 820px){
    .nav-bar {
        background: #eae8e7;
        height: 12vh;
        margin-top: 0;
        z-index: 10;
        position: relative;
        width: 100%;
      }
      
      .img-nav-bar {
        height: 12vh;
        display: block;
        margin-left: 70%;
      }

      .img-icon-bar{
        width: 5vh;           
        display: block; 
        margin-top: 3.5vh;
        
    }
      
      .links-nav-bar {
        display: block;
        display: none;
        width: 50%;
        align-items: center;
        justify-content: center;
        margin-left: 25%;
        letter-spacing: 1.2px;
      }
      
      .link-1, .link-2, .link-3, .link-4, .link-5, .link-6 {
        color: #213a5c; /* Cor do texto */
        font-size: 0.9rem;
        width: 100%;
        display: block;
        text-align: center;
        padding: -5px;
        margin-top: 2.5%;
        text-decoration: none; /* Remover sublinhado */
        font-weight: bold; /* Negrito */
      }
      
      /* Estilos do menu dropdown para telas menores */
      .dropdown-menu {
        position: absolute;
        display: inline-block;
        margin-left: 5%;
        margin-top: -13%;
      }
      
      .dropdown-toggle {
        background-color: #eae8e7;
        color: #213a5c;
        font-size: 0.6rem;
        border: none;
        cursor: pointer;
        padding: -5px;
        margin-top: 2.5%;
        text-decoration: none;
        border-radius: 10px;
        font-weight: bold;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        border-radius: 10px;
        background-color: #f9f9f9;
        min-width: 160px;
        text-align: left;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: #213a5c;
        text-decoration: none;
        text-align: left;
      }
      
      
      .show {
        display: block;
      }
}

@media only screen and (min-width: 821px) and (max-width: 1080px){
    
    .nav-bar {
        background: #eae8e7;
        height: 12vh;
        margin-top: 0;
        z-index: 10;
        position: relative;
        width: 100%;
      }
      
      .img-nav-bar {
        height: 12vh;
        display: block;
        margin-left: 80%;
      }

      .img-icon-bar{
        width: 5vh;
        margin-top: 9.5vh;           
        display: block; 
        
    }
      
      .links-nav-bar {
        display: block;
        display: none;
        width: 50%;
        align-items: center;
        justify-content: center;
        margin-left: 25%;
        letter-spacing: 1.2px;
      }
      
      .link-1, .link-2, .link-3, .link-4, .link-5, .link-6 {
        color: #213a5c; /* Cor do texto */
        font-size: 1.1rem;
        width: 100%;
        display: block;
        text-align: center;
        padding: -5px;
        margin-top: 2.5%;
        text-decoration: none; /* Remover sublinhado */
        font-weight: bold; /* Negrito */
      }
      
      /* Estilos do menu dropdown para telas menores */
      .dropdown-menu {
        position: absolute;
        display: inline-block;
        margin-left: 5%;
        margin-top: -13%;
      }
      
      .dropdown-toggle {
        background-color: #eae8e7;
        color: #213a5c;
        font-size: 0.6rem;
        border: none;
        cursor: pointer;
        padding: -5px;
        margin-top: 2.5%;
        text-decoration: none;
        border-radius: 10px;
        font-weight: bold;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        border-radius: 10px;
        background-color: #f9f9f9;
        min-width: 180px;
        text-align: left;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: #213a5c;
        text-decoration: none;
        text-align: left;
      }

      
      .show {
        display: block;
      }
      


}

@media only screen and (min-width: 1081px) and (max-width: 2260px){
    .nav-bar {
        background: #eae8e7;
        height: 25vh;
        margin-top: 0;
        z-index: 10;
        position: relative;
        width: 100%;
      }
      
      .img-nav-bar {
        height: 15vh;
    
        display: block;
      }
    
      
      .links-nav-bar {
        display: flex;
        width: 30%;
        align-items: center;
        justify-content: center;
        margin-left: 37%;
        letter-spacing: 1.2px;
      }
      
      .link-1, .link-2, .link-3, .link-4, .link-5, .link-6 {
        color: #213a5c; /* Cor do texto */
        font-size: 1rem;
        width: 100%;
        display: flex;
        text-align: center;
        padding: -5px;
        margin-top: 2.5%;
        text-decoration: none; /* Remover sublinhado */
        font-weight: bold; /* Negrito */
      }
      
      /* Estilos do menu dropdown para telas menores */
      .dropdown-menu {
        position: relative;
        display: inline-block;
        display: none;
      }
}