@media only screen and (min-width: 1600px) and (max-width: 2000px){
    .section-6{
        height: 90vh;
        background: #eae8e7;;
    }
    
    .div-formulario {
        display: flex;
        background: #eae8e7;
        justify-content: space-between;
      }
      
      .form-info {
        width: 40%;
      }
    
      .title-form{
        color: #213a5c;
        font-size: 3.5rem;
        margin-left: 15%;
        margin-top: 20%;
      }
    
      .p-form{
        color: #213a5c;
        font-size: 1.9rem;
        margin-left: 15%;
        margin-top: 5%;
      }
    
      .nome-form{
        color:#213a5c;
        font-size: 1.8rem;
        margin-top: 2.5%;
      }
    
      .email-form{
        color: #213a5c;
        font-size: 1.8rem;
        margin-top: 2.5%;
      }
    
      .msg-form{
        color: #213a5c;
        font-size: 1.8rem;
        margin-top: 2.5%;
      }
      
      .form-perguntas {
        width: 50%;
        margin-left: 20%;
        margin-top: 7%;
      }
      
      
      label {
        display: block;
        margin-bottom: 5px;
      }
      
      input, textarea {
        width: 80%;
        padding: 10px;
        background-color: #c3c0bf;
        border: transparent;
        opacity: 0.5;
        border-radius: 5px;
        margin-bottom: 10px;
      }
    
      input[type="submit"] {
        background-color: #213a5c;
        color: white;
        border: none;
        font-size: 1.1rem;
        width: 80.5%;
        padding: 20px 20px;
        cursor: pointer;
      }
      
      input[type="submit"]:hover {
        background-color: #0f223e;
        opacity: 1;
      }
}

@media only screen and (min-width: 1200px) and (max-width: 1450px){
  .section-6{
    height: 90vh;
    background: #eae8e7;;
}

.div-formulario {
    display: flex;
    background: #eae8e7;
    justify-content: space-between;
  }
  
  .form-info {
    width: 40%;
  }

  .title-form{
    color: #213a5c;
    font-size: 3rem;
    margin-left: 20%;
    margin-top: 22%;
  }

  .p-form{
    color: #213a5c;
    font-size: 1rem;
    margin-left: 20%;
    margin-top: 5%;
  }

  .nome-form{
    color:#213a5c;
    font-size: 1rem;
    margin-top: 2.5%;
  }

  .email-form{
    color: #213a5c;
    font-size: 1rem;
    margin-top: 2.5%;
  }

  .msg-form{
    color: #213a5c;
    font-size: 1rem;
    margin-top: 2.5%;
  }
  
  .form-perguntas {
    width: 50%;
    margin-left: 20%;
    margin-top: 7%;
  }
  
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 80%;
    padding: 10px;
    background-color: #c3c0bf;
    border: transparent;
    opacity: 0.5;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    background-color: #213a5c;
    color: white;
    border: none;
    font-size: 1rem;
    width: 80.5%;
    padding: 15px 15px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0f223e;
    opacity: 1;
  }
}

@media only screen and (min-width: 291px) and (max-width: 1199px){
  .section-6{
    height: 110vh;
    background: #eae8e7;
}

.div-formulario {
    display: flex;
    background: #eae8e7;
    justify-content: space-between;
  }
  
  .form-info {
    width: 40%;
  }

  .title-form{
    color: #213a5c;
    font-size: 2rem;
    margin-left: 20%;
    margin-top: 22%;
  }

  .p-form{
    color: #213a5c;
    font-size: 0.7rem;
    margin-left: 20%;
    margin-top: 5%;
  }

  .nome-form{
    color:#213a5c;
    font-size: 0.7rem;
    margin-top: 2.5%;
  }

  .email-form{
    color: #213a5c;
    font-size: 0.7rem;
    margin-top: 2.5%;
  }

  .msg-form{
    color: #213a5c;
    font-size: 0.7rem;
    margin-top: 2.5%;
  }
  
  .form-perguntas {
    width: 50%;
    margin-left: 20%;
    margin-top: 7%;
  }
  
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 70%;
    padding: 10px;
    background-color: #c3c0bf;
    border: transparent;
    opacity: 0.5;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    background-color: #213a5c;
    color: white;
    border: none;
    font-size: 1rem;
    width: 70%;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0f223e;
    opacity: 1;
  }
}
