@media only screen and (max-width: 320px){
    .section-3{
        background: #eae8e7;
        height: 180vh;
    }
    
    .section-3-title{
        font-size: 1.5rem;
        text-align: center;
        color: #213a5c;
        padding: 40px;
    }
    
    .cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: 5%;
        margin-right: 5%;
        width: 80%;
        margin-left: 10%;
        height: 10vh;
    }
    
    .card-1{
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: auto;
        margin-top: 2.5%;
        display: block; 
        background-image: url("/img/fotos/foto-2.jpg");
        background-size: cover;
    }
    
    .card-2{
        margin-left: 1%;
        display: block;
        width: 100%;
        margin-top: 5%;
        border-radius: 10px 10px 0 0;
        margin-right: 1%;
        background-image: url("/img/fotos/foto-2.jpg");
        background-size: cover;
    }
    
    .card-3{
        margin-left: 1%;
        border-radius: 10px 10px 0 0;
        margin-right: 1%;
        display: block;
        width: 100%;
        margin-top: 5%;
        background-image: url("/img/fotos/foto-2.jpg");
        background-size: cover;
    }
    
    .title-card-1,
    .title-card-2,
    .title-card-3{
        font-size: 1rem;
        margin-top: 77%;
        border: 10px;
        color: #eae8e7;
        background: rgba(0, 0, 0, 0.9);
        text-align: center;
        padding: 5px;
    }
    
    .p-card-1,
    .p-card-2,
    .p-card-3{
        font-size: 0.7rem;
        color: #eae8e7;
        background: rgba(0, 0, 0, 0.9);
        padding: 15px;
        text-align: justify;
    
    }
    .img-card-1,
    .img-card-2,
    .img-card-3{
        width: 15%;
        height: auto;
        display: none;
    
    }
}

@media only screen and (min-width: 321px) and (max-width: 480px){

    .section-3{
        background: #eae8e7;
        height: 170vh;
    }
    
    .section-3-title{
        font-size: 1.9rem;
        text-align: center;
        color: #213a5c;
        padding: 40px;
    }
    
    .cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: 5%;
        margin-right: 5%;
        width: 80%;
        margin-left: 10%;
        height: 10vh;
    }
    
    .card-1{
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: auto;
        margin-top: 2.5%;
        display: block; 
        background-image: url("/img/fotos/foto-2.jpg");
        background-size: cover;
    }
    
    .card-2{
        margin-left: 1%;
        display: block;
        width: 100%;
        margin-top: 5%;
        border-radius: 10px 10px 0 0;
        margin-right: 1%;
        background-image: url("/img/fotos/foto-2.jpg");
        background-size: cover;
    }
    
    .card-3{
        margin-left: 1%;
        border-radius: 10px 10px 0 0;
        margin-right: 1%;
        display: block;
        width: 100%;
        margin-top: 5%;
        background-image: url("/img/fotos/foto-2.jpg");
        background-size: cover;
    }
    
    .title-card-1,
    .title-card-2,
    .title-card-3{
        font-size: 1.5rem;
        margin-top: 77%;
        border: 10px;
        color: #eae8e7;
        background: rgba(0, 0, 0, 0.9);
        text-align: center;
        padding: 5px;
    }
    
    .p-card-1,
    .p-card-2,
    .p-card-3{
        font-size: 1rem;
        color: #eae8e7;
        background: rgba(0, 0, 0, 0.9);
        padding: 15px;
        text-align: justify;
    
    }
    .img-card-1,
    .img-card-2,
    .img-card-3{
        width: 15%;
        height: auto;
        display: none;
    
    }

}

@media only screen and (min-width: 481px) and (max-width: 850px){

    .section-3{
        background: #eae8e7;
        height: 170vh;
    }
    
    .section-3-title{
        font-size: 1.9rem;
        text-align: center;
        color: #213a5c;
        padding: 40px;
    }
    
    .cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: 5%;
        margin-right: 5%;
        width: 80%;
        margin-left: 10%;
        height: 10vh;
    }
    
    .card-1{
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: auto;
        margin-top: 2.5%;
        display: block; 
        background-image: url("/img/fotos/foto-2.jpg");
        background-size: cover;
    }
    
    .card-2{
        margin-left: 1%;
        display: block;
        width: 100%;
        margin-top: 5%;
        border-radius: 10px 10px 0 0;
        margin-right: 1%;
        background-image: url("/img/fotos/foto-2.jpg");
        background-size: cover;
    }
    
    .card-3{
        margin-left: 1%;
        border-radius: 10px 10px 0 0;
        margin-right: 1%;
        display: block;
        width: 100%;
        margin-top: 5%;
        background-image: url("/img/fotos/foto-2.jpg");
        background-size: cover;
    }
    
    .title-card-1,
    .title-card-2,
    .title-card-3{
        font-size: 1.5rem;
        margin-top: 77%;
        border: 10px;
        color: #eae8e7;
        background: rgba(0, 0, 0, 0.9);
        text-align: center;
        padding: 5px;
    }
    
    .p-card-1,
    .p-card-2,
    .p-card-3{
        font-size: 1rem;
        color: #eae8e7;
        background: rgba(0, 0, 0, 0.9);
        padding: 15px;
        text-align: justify;
    
    }
    .img-card-1,
    .img-card-2,
    .img-card-3{
        width: 15%;
        height: auto;
        display: none;
    
    }

}